<div
	class="
		rb-toggle
		${props.kind}
		${this._hasTarget ? 'no-content' : ''}
		${props.caption ? 'with-caption' : 'no-caption'}
		${this._openToggle ? 'open' : 'closed'}
	">
	<div class="caption">
		<rb-button
			text
			?disabled="${props.disabled}"
			kind="${View.ifDefined(props.kind || undefined)}">
			<span class="toggle ${state.preloading ? 'preloader' : ''}">
				<rb-icon
					size=".85"
					?spin="${state.preloading}"
					source="${state.preloading ? 'solid' : 'solid'}"
					kind="${state.preloading
						? 'spinner'
						: this._openToggle
							? 'angle-down'
							: 'angle-right'
					}">
				</rb-icon>
			</span>
			${props.caption}
		</rb-button>
	</div>
	<div class="content">
		<slot></slot>
	</div>
</div>

<link rel="stylesheet" href="../styles/rb-toggle.css">
