<div
	class="
		rb-toggle
		${props.kind}
		${props.open && this.rb.view.isReady ? 'open' : 'closed'}
		${props.caption ? 'with-caption' : 'no-caption'}
	">
	<rb-button
		text
		?disabled="${props.disabled}"
		kind="${View.ifDefined(props.kind || undefined)}">
		<rb-icon
			source="solid"
			kind="caret-${props.open && this.rb.view.isReady ? 'down' : 'right'}">
		</rb-icon>
		${props.caption}
	</rb-button>
	<div class="content">
		<slot></slot>
	</div>
</div>

<link rel="stylesheet" href="../styles/rb-toggle.css">
