<div
	class="
		rb-toggle
		${props.kind}
		${props.open && this.rb.view.isReady ? 'open' : 'closed'}
		${props.caption ? 'with-caption' : 'no-caption'}
	">
	<div class="caption">
		<rb-button
			text
			?disabled="${props.disabled}"
			kind="${View.ifDefined(props.kind || undefined)}">
			<rb-icon
				?spin="${state.preloading}"
				class="${state.preloading ? '' : 'toggle'}"
				source="${state.preloading ? 'solid' : 'solid'}"
				kind="${state.preloading
					? 'spinner'
					: props.open && this.rb.view.isReady
						? 'caret-down'
						: 'caret-right'
				}">
			</rb-icon>
			${props.caption}
		</rb-button>
	</div>
	<div class="content">
		<slot></slot>
	</div>
</div>

<link rel="stylesheet" href="../styles/rb-toggle.css">
