/*******
 * HOST
 *******/
:host {
	// layout prevents margins from collapsing
	// paint prevents popover inside content from being over everything
	contain: style;
	display: block;
	margin-bottom: 18px;
}
:host([hidden]) {
	display: none;
}