/*********
 * TOGGLE
 *********/
rb-button {
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: .1px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.toggle {
		position: relative; // without this, safari cuts off box-shadow
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 2px;
		rb-icon {
			position: relative;
		}
		&:not(.preloader) { // not for preloader
			border-radius: 50%;
			box-shadow: 0 1px 2px #0000004d;
			transition: box-shadow .3s ease-in-out;
			rb-icon {
				top: -1px;
				&[kind*="right"] {
					top: -1px;
					left: .5px;
				}
			}
		}
		&.preloader rb-icon {
			top: .5px;
		}
	}

	&:hover:not([disabled]) {
		.toggle:not(.preloader) {
			box-shadow:
				0 2px 4px  0 #0000001a,
				0 3px 5px  0 #00000024,
				0 1px 10px 0 #0000001f;
		}
	}
}