/*****************************************
 * COMMON CSS VARIABLES
 * Applies to both light and dark themes.
 *****************************************/
$commonCssVars: (
	// Borders (common for all kinds)

	// Caption Colors
	default-caption-color: mapGet($palette, blue),
	danger-caption-color:  mapGet($palette, red),
	info-caption-color:    mapGet($palette, turquois),
	neutral-caption-color: mapGet($palette, grey),
	success-caption-color: mapGet($palette, green),
	warning-caption-color: mapGet($palette, yellow),

	// Caption Hover Colors
	default-caption-color-hover: mapGet($palette, blueLight),
	danger-caption-color-hover:  mapGet($palette, redLight),
	info-caption-color-hover:    mapGet($palette, turquoisLight),
	neutral-caption-color-hover: mapGet($palette, greyLight),
	success-caption-color-hover: mapGet($palette, greenLight),
	warning-caption-color-hover: mapGet($palette, yellowLight)
);